apiVersion: jvmbuildservice.io/v1alpha1
kind: SystemConfig
metadata:
  name: cluster
spec:
  #This is used to drive the builder image build
  #Versions places here for gradle will be used generate the relevant dockerfiles
  #after you run generate.sh
  builders:
    ubi7:
      tag: jdk:7,maven:3.8.8;3.9.5,ant:1.9.16
    ubi8:
      tag: jdk:8;11;17;21,maven:3.8.8;3.9.5,gradle:8.7;8.6;8.4;8.3;8.0.2;7.6.3;7.5.1;7.4.2;7.3.3;6.9.4;6.4.1;6.2.2;6.0.1;5.6.4;5.3.1;5.0;4.10.3,sbt:1.8.0,ant:1.10.13
